.fame-div{
    border: 10;
    border-color:purple;
    border-style: solid;
    width: 50%;
    height: 50%;
    background-image: url("./media/fame.gif");
}
.money-div{
    border: 10;
    border-color: green;
    border-style: solid;
    width: 50%;
    height: 50%;
    background-image: url("./media/money.gif");
}